USE [TbMIS]
GO
IF  EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Textbook', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Textbook'

GO
IF  EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Textbook', N'COLUMN',N'TextbookNum'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Textbook', @level2type=N'COLUMN',@level2name=N'TextbookNum'

GO
IF  EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TeacherDepartment', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TeacherDepartment'

GO
IF  EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Teacher', NULL,NULL))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teacher'

GO
IF  EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Teacher', N'COLUMN',N'TeacherNumID'))
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teacher', @level2type=N'COLUMN',@level2name=N'TeacherNumID'

GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[ck_Page_Textbook]') AND parent_object_id = OBJECT_ID(N'[dbo].[Textbook]'))
ALTER TABLE [dbo].[Textbook] DROP CONSTRAINT [ck_Page_Textbook]
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[ck_IsSelfCompile_Textbook]') AND parent_object_id = OBJECT_ID(N'[dbo].[Textbook]'))
ALTER TABLE [dbo].[Textbook] DROP CONSTRAINT [ck_IsSelfCompile_Textbook]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_TeacherDepartment_Teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]'))
ALTER TABLE [dbo].[TeacherDepartment] DROP CONSTRAINT [fk_TeacherDepartment_Teacher]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_TeacherDepartment_Department]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]'))
ALTER TABLE [dbo].[TeacherDepartment] DROP CONSTRAINT [fk_TeacherDepartment_Department]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_Student_ProfessionalClass]') AND parent_object_id = OBJECT_ID(N'[dbo].[Student]'))
ALTER TABLE [dbo].[Student] DROP CONSTRAINT [fk_Student_ProfessionalClass]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_ProfessionalClass_School]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalClass]'))
ALTER TABLE [dbo].[ProfessionalClass] DROP CONSTRAINT [fk_ProfessionalClass_School]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Department_School]') AND parent_object_id = OBJECT_ID(N'[dbo].[Department]'))
ALTER TABLE [dbo].[Department] DROP CONSTRAINT [FK_Department_School]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ck_Textbook_IsSelfCompile]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Textbook] DROP CONSTRAINT [ck_Textbook_IsSelfCompile]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Textbook__Textbo__53ED4AC6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Textbook] DROP CONSTRAINT [DF__Textbook__Textbo__53ED4AC6]
END

GO
/****** Object:  Index [pk_Textbook]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Textbook]') AND name = N'pk_Textbook')
ALTER TABLE [dbo].[Textbook] DROP CONSTRAINT [pk_Textbook]
GO
/****** Object:  Index [pk_TeacherDepartment]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]') AND name = N'pk_TeacherDepartment')
ALTER TABLE [dbo].[TeacherDepartment] DROP CONSTRAINT [pk_TeacherDepartment]
GO
/****** Object:  Index [ak_TeacherNumID_Teacher]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Teacher]') AND name = N'ak_TeacherNumID_Teacher')
ALTER TABLE [dbo].[Teacher] DROP CONSTRAINT [ak_TeacherNumID_Teacher]
GO
/****** Object:  Index [pk_Teacher]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Teacher]') AND name = N'pk_Teacher')
ALTER TABLE [dbo].[Teacher] DROP CONSTRAINT [pk_Teacher]
GO
/****** Object:  Index [AK_AK_STUDENTNUM_STUDENT]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND name = N'AK_AK_STUDENTNUM_STUDENT')
ALTER TABLE [dbo].[Student] DROP CONSTRAINT [AK_AK_STUDENTNUM_STUDENT]
GO
/****** Object:  Index [pk_Student]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND name = N'pk_Student')
ALTER TABLE [dbo].[Student] DROP CONSTRAINT [pk_Student]
GO
/****** Object:  Index [pk_School]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[School]') AND name = N'pk_School')
ALTER TABLE [dbo].[School] DROP CONSTRAINT [pk_School]
GO
/****** Object:  Index [pk_ProfessionalClass]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalClass]') AND name = N'pk_ProfessionalClass')
ALTER TABLE [dbo].[ProfessionalClass] DROP CONSTRAINT [pk_ProfessionalClass]
GO
/****** Object:  Index [pk_Department]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Department]') AND name = N'pk_Department')
ALTER TABLE [dbo].[Department] DROP CONSTRAINT [pk_Department]
GO
/****** Object:  Index [ak_Bookseller_BooksellerName]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Bookseller]') AND name = N'ak_Bookseller_BooksellerName')
ALTER TABLE [dbo].[Bookseller] DROP CONSTRAINT [ak_Bookseller_BooksellerName]
GO
/****** Object:  Index [pk_Bookseller]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Bookseller]') AND name = N'pk_Bookseller')
ALTER TABLE [dbo].[Bookseller] DROP CONSTRAINT [pk_Bookseller]
GO
/****** Object:  Table [dbo].[Textbook]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Textbook]') AND type in (N'U'))
DROP TABLE [dbo].[Textbook]
GO
/****** Object:  Table [dbo].[TeacherDepartment]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]') AND type in (N'U'))
DROP TABLE [dbo].[TeacherDepartment]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teacher]') AND type in (N'U'))
DROP TABLE [dbo].[Teacher]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND type in (N'U'))
DROP TABLE [dbo].[Student]
GO
/****** Object:  Table [dbo].[School]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[School]') AND type in (N'U'))
DROP TABLE [dbo].[School]
GO
/****** Object:  Table [dbo].[ProfessionalClass]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalClass]') AND type in (N'U'))
DROP TABLE [dbo].[ProfessionalClass]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Department]') AND type in (N'U'))
DROP TABLE [dbo].[Department]
GO
/****** Object:  Table [dbo].[Bookseller]    Script Date: 2018-7-21 10:42:10 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bookseller]') AND type in (N'U'))
DROP TABLE [dbo].[Bookseller]
GO
/****** Object:  Table [dbo].[Bookseller]    Script Date: 2018-7-21 10:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bookseller]') AND type IN (N'U'))
BEGIN
CREATE TABLE [dbo].[Bookseller](
	[BooksellerID] [UNIQUEIDENTIFIER] NOT NULL,
	[BooksellerNum] [INT] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[BooksellerName] [NVARCHAR](50) NOT NULL,
	[Contact] [NVARCHAR](50) NULL,
	[Telephone] [NVARCHAR](20) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2018-7-21 10:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Department]') AND type IN (N'U'))
BEGIN
CREATE TABLE [dbo].[Department](
	[DepartmentID] [NVARCHAR](50) NOT NULL,
	[DepartmentNum] [NVARCHAR](20) NOT NULL,
	[DepartmentName] [NVARCHAR](50) NOT NULL,
	[SchoolID] [NVARCHAR](50) NOT NULL,
	[Contact] [NVARCHAR](50) NULL,
	[Telephone] [NVARCHAR](20) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProfessionalClass]    Script Date: 2018-7-21 10:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalClass]') AND type IN (N'U'))
BEGIN
CREATE TABLE [dbo].[ProfessionalClass](
	[ClassID] [NVARCHAR](50) NOT NULL,
	[ClassNum] [NVARCHAR](20) NOT NULL,
	[ClassName] [NVARCHAR](50) NOT NULL,
	[Grade] [NVARCHAR](20) NOT NULL,
	[SchoolID] [NVARCHAR](50) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[School]    Script Date: 2018-7-21 10:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[School]') AND type IN (N'U'))
BEGIN
CREATE TABLE [dbo].[School](
	[SchoolID] [NVARCHAR](50) NOT NULL,
	[SchoolNum] [NVARCHAR](20) NOT NULL,
	[SchoolName] [NVARCHAR](50) NOT NULL,
	[Contact] [NVARCHAR](50) NULL,
	[Telephone] [NVARCHAR](20) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2018-7-21 10:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND type IN (N'U'))
BEGIN
CREATE TABLE [dbo].[Student](
	[StudentID] [NVARCHAR](50) NOT NULL,
	[StudentNum] [NVARCHAR](20) NOT NULL,
	[StudentName] [NVARCHAR](50) NOT NULL,
	[Gender] [NVARCHAR](10) NOT NULL,
	[EntranceDate] [NVARCHAR](20) NOT NULL,
	[IDNumber] [NVARCHAR](50) NULL,
	[Mobile] [NVARCHAR](50) NULL,
	[ClassID] [NVARCHAR](50) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2018-7-21 10:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teacher]') AND type IN (N'U'))
BEGIN
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [NVARCHAR](50) NOT NULL,
	[TeacherNum] [NVARCHAR](20) NOT NULL,
	[TeacherName] [NVARCHAR](50) NOT NULL,
	[Gender] [NVARCHAR](10) NOT NULL,
	[TeacherNumID2] [INT] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[Teacher] ADD [TeacherNumID]  AS (REPLICATE('0',(6)-LEN([TeacherNumID2]))+CONVERT([NVARCHAR](10),[TeacherNumID2],(0)))
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TeacherDepartment]    Script Date: 2018-7-21 10:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]') AND type IN (N'U'))
BEGIN
CREATE TABLE [dbo].[TeacherDepartment](
	[TeacherDepartmentID] [NVARCHAR](50) NOT NULL,
	[DepartmentID] [NVARCHAR](50) NULL,
	[TeacherID] [NVARCHAR](50) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Textbook]    Script Date: 2018-7-21 10:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Textbook]') AND type IN (N'U'))
BEGIN
CREATE TABLE [dbo].[Textbook](
	[TextbookID] [NVARCHAR](50) NOT NULL,
	[TextbookNum2] [INT] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TextbookNum]  AS (REPLICATE('0',(8)-LEN([TextbookNum2]))+CONVERT([NVARCHAR](10),[TextbookNum2],(0))),
	[Isbn] [NVARCHAR](20) NOT NULL,
	[TextbookName] [NVARCHAR](200) NOT NULL,
	[Press] [NVARCHAR](50) NOT NULL,
	[Author] [NVARCHAR](50) NOT NULL,
	[Edition] [NVARCHAR](20) NOT NULL,
	[PrintingCount] [NVARCHAR](20) NOT NULL,
	[RetailPrice] [numeric](10, 2) NOT NULL,
	[TextbookType] [NVARCHAR](50) NULL,
	[Translator] [NVARCHAR](50) NULL,
	[Language] [NVARCHAR](20) NULL,
	[Page] [int] NULL,
	[Summary] [NVARCHAR](200) NULL,
	[Catalog] [NVARCHAR](200) NULL,
	[IsSelfCompile] [char](1) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Bookseller] ON 

INSERT [dbo].[Bookseller] ([BooksellerID], [BooksellerNum], [BooksellerName], [Contact], [Telephone]) VALUES (N'60d6e947-ec9c-4a0a-aea6-26673c046b3c', 1, N'新华书店', N'', N'8228775')
INSERT [dbo].[Bookseller] ([BooksellerID], [BooksellerNum], [BooksellerName], [Contact], [Telephone]) VALUES (N'ab62cc87-c927-4ba7-b753-66e56e90fdbd', 2, N'蓝色畅想书店', N'', N'3179323')
INSERT [dbo].[Bookseller] ([BooksellerID], [BooksellerNum], [BooksellerName], [Contact], [Telephone]) VALUES (N'd495e67d-34c1-454c-8cdc-aa508e4e6203', 3, N'江西畅想文化', N'', N'')
SET IDENTITY_INSERT [dbo].[Bookseller] OFF
GO


INSERT [dbo].[Department] ([DepartmentID], [DepartmentNum], [DepartmentName], [SchoolID], [Contact], [Telephone]) VALUES (N'00272034B96E4327BC8A4B8B2FBA20FC', N'', N'流通室', N'84230748B3B3487986169E30899A7D63', N'无', N'无')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentNum], [DepartmentName], [SchoolID], [Contact], [Telephone]) VALUES (N'0082D288165C41F3A3D31FD826B131C2', N'0304', N'数字媒体技术系', N'32CC3858B1F048B2ACE4DCA10A197964', N'无', N'无')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentNum], [DepartmentName], [SchoolID], [Contact], [Telephone]) VALUES (N'011A90EEFD064B06A3EC4D0DDDAF1320', N'', N'氡实验室', N'84DCC8D80F8A407C9BB0B12C86B64E44', N'无', N'无')
GO



INSERT [dbo].[ProfessionalClass] ([ClassID], [ClassNum], [ClassName], [Grade], [SchoolID]) VALUES (N'001E77FD5A5B4A168A0548357CF2E7C6', N'201541102', N'本15法学02班', N'2015', N'3B009B7A7D464BFE9846533102E3F252')
INSERT [dbo].[ProfessionalClass] ([ClassID], [ClassNum], [ClassName], [Grade], [SchoolID]) VALUES (N'001E949F18184E3583E0A72F6407FA2C', N'201459004', N'本14预防04班', N'2014', N'FD5004C908A644CB82AE34F84F4B0C7F')
INSERT [dbo].[ProfessionalClass] ([ClassID], [ClassNum], [ClassName], [Grade], [SchoolID]) VALUES (N'004E5EC0A72E49D4B09678733416C4C4', N'201258401', N'本12放医01班', N'2012', N'FD5004C908A644CB82AE34F84F4B0C7F')
GO

INSERT [dbo].[School] ([SchoolID], [SchoolNum], [SchoolName], [Contact], [Telephone]) VALUES (N'265470DF4E68447587F1BB02154CD323', N'02', N'电气工程学院', N'无', N'无')
INSERT [dbo].[School] ([SchoolID], [SchoolNum], [SchoolName], [Contact], [Telephone]) VALUES (N'2666CEE7D6A840689F0F9564D9296D8F', N'A1', N'教务处', N'无', N'无')
INSERT [dbo].[School] ([SchoolID], [SchoolNum], [SchoolName], [Contact], [Telephone]) VALUES (N'32CC3858B1F048B2ACE4DCA10A197964', N'03', N'计算机学院', N'无', N'无')
GO


INSERT [dbo].[Student] ([StudentID], [StudentNum], [StudentName], [Gender], [EntranceDate], [IDNumber], [Mobile], [ClassID]) VALUES (N'0001DA58D3CB41D192245FA519D80264', N'20124260318', N'樊艳君', N'女', N'201209', N'441900199306033829', N'0769-88867718', N'61413DA7F54B4269A89F2268BDABA09D')
INSERT [dbo].[Student] ([StudentID], [StudentNum], [StudentName], [Gender], [EntranceDate], [IDNumber], [Mobile], [ClassID]) VALUES (N'0002CADA0A874BA8A0489B7EC9D1FFB6', N'20124260122', N'侯旭芳', N'女', N'201209', N'142431199211130084', N'03545690805', N'950B7B2406E94514AE4382F106757772')
INSERT [dbo].[Student] ([StudentID], [StudentNum], [StudentName], [Gender], [EntranceDate], [IDNumber], [Mobile], [ClassID]) VALUES (N'0005420A5F52474E9A2BEFDC39FE0424', N'20155762232', N'唐吉磊', N'男', N'201509', N'430521199709192397', N'13974336866', N'8D36BFD172B840DFB26BF18B3871ED88')
GO


SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([TeacherID], [TeacherNum], [TeacherName], [Gender], [TeacherNumID2]) VALUES (N'0026F270F10F49088B4BBFA020803DC0', N'60022', N'蒋京苹', N'男', 25617)
INSERT [dbo].[Teacher] ([TeacherID], [TeacherNum], [TeacherName], [Gender], [TeacherNumID2]) VALUES (N'003003A192B64B8C9B58AE46745CA9C6', N'rj010', N'刘洋', N'男', 25618)
INSERT [dbo].[Teacher] ([TeacherID], [TeacherNum], [TeacherName], [Gender], [TeacherNumID2]) VALUES (N'004CBD9174BB4936B80739D6264E2338', N'17166', N'周萍', N'男', 25619)
GO

SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO

INSERT [dbo].[TeacherDepartment] ([TeacherDepartmentID], [DepartmentID], [TeacherID]) VALUES (N'2015120123532394000099B96A5', N'9D1E19644F5F4157AD871B40CB6F3D02', N'29AE466CD3EB419AA01007043078B12C')
INSERT [dbo].[TeacherDepartment] ([TeacherDepartmentID], [DepartmentID], [TeacherID]) VALUES (N'20151201235323940002621B7A2', N'B3AF01D88A48435C9FA2B6BD01D34A81', N'11E66DCA2CA542409E47B3E0E2551CE5')
INSERT [dbo].[TeacherDepartment] ([TeacherDepartmentID], [DepartmentID], [TeacherID]) VALUES (N'2015120123532394000344D5FE2', N'56E333AB8713497D912EAC2C8BFA3D2F', N'708D0182C4AE4C988A6CDEB93F17B884')
GO

SET IDENTITY_INSERT [dbo].[Textbook] ON 

INSERT [dbo].[Textbook] ([TextbookID], [TextbookNum2], [Isbn], [TextbookName], [Press], [Author], [Edition], [PrintingCount], [RetailPrice], [TextbookType], [Translator], [Language], [Page], [Summary], [Catalog], [IsSelfCompile]) VALUES (N'6F66F6C9-7CC7-4A90-AD1A-43D214DF3210', 1, N'9787121136382', N'电磁兼容原理与技术', N' 电子工业出版社 ', N'赵家升', N'第二版', N'1', CAST(35.00 AS Numeric(10, 2)), N'无', N'无', N'无', 0, N'无', N'无', N'0')
INSERT [dbo].[Textbook] ([TextbookID], [TextbookNum2], [Isbn], [TextbookName], [Press], [Author], [Edition], [PrintingCount], [RetailPrice], [TextbookType], [Translator], [Language], [Page], [Summary], [Catalog], [IsSelfCompile]) VALUES (N'73B322BC-B806-4148-9610-F5AFDFAB3D12', 2, N'9787502258290', N'医学放射生物学基础', N' 原子能出版社', N'苏燎原', N'第一版', N'1', CAST(48.00 AS Numeric(10, 2)), N'无', N'无', N'无', 0, N'无', N'无', N'0')
INSERT [dbo].[Textbook] ([TextbookID], [TextbookNum2], [Isbn], [TextbookName], [Press], [Author], [Edition], [PrintingCount], [RetailPrice], [TextbookType], [Translator], [Language], [Page], [Summary], [Catalog], [IsSelfCompile]) VALUES (N'75E2DCC2-95CF-4AEF-8541-25CCE3123EFE', 3, N'780159973', N'无机非金属材料工艺学', N'安徽教育 ', N'王琦', N'1', N'1', CAST(48.00 AS Numeric(10, 2)), N'无', N'无', N'无', 0, N'无', N'无', N'0')
GO

SET IDENTITY_INSERT [dbo].[Textbook] OFF
/****** Object:  Index [pk_Bookseller]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Bookseller]') AND name = N'pk_Bookseller')
ALTER TABLE [dbo].[Bookseller] ADD  CONSTRAINT [pk_Bookseller] PRIMARY KEY NONCLUSTERED 
(
	[BooksellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ak_Bookseller_BooksellerName]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Bookseller]') AND name = N'ak_Bookseller_BooksellerName')
ALTER TABLE [dbo].[Bookseller] ADD  CONSTRAINT [ak_Bookseller_BooksellerName] UNIQUE NONCLUSTERED 
(
	[BooksellerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_Department]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Department]') AND name = N'pk_Department')
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [pk_Department] PRIMARY KEY NONCLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_ProfessionalClass]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProfessionalClass]') AND name = N'pk_ProfessionalClass')
ALTER TABLE [dbo].[ProfessionalClass] ADD  CONSTRAINT [pk_ProfessionalClass] PRIMARY KEY NONCLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_School]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[School]') AND name = N'pk_School')
ALTER TABLE [dbo].[School] ADD  CONSTRAINT [pk_School] PRIMARY KEY NONCLUSTERED 
(
	[SchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_Student]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND name = N'pk_Student')
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [pk_Student] PRIMARY KEY NONCLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AK_AK_STUDENTNUM_STUDENT]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Student]') AND name = N'AK_AK_STUDENTNUM_STUDENT')
ALTER TABLE [dbo].[Student] ADD  CONSTRAINT [AK_AK_STUDENTNUM_STUDENT] UNIQUE NONCLUSTERED 
(
	[StudentNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_Teacher]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Teacher]') AND name = N'pk_Teacher')
ALTER TABLE [dbo].[Teacher] ADD  CONSTRAINT [pk_Teacher] PRIMARY KEY NONCLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ak_TeacherNumID_Teacher]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Teacher]') AND name = N'ak_TeacherNumID_Teacher')
ALTER TABLE [dbo].[Teacher] ADD  CONSTRAINT [ak_TeacherNumID_Teacher] UNIQUE NONCLUSTERED 
(
	[TeacherNumID2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_TeacherDepartment]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]') AND name = N'pk_TeacherDepartment')
ALTER TABLE [dbo].[TeacherDepartment] ADD  CONSTRAINT [pk_TeacherDepartment] PRIMARY KEY NONCLUSTERED 
(
	[TeacherDepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [pk_Textbook]    Script Date: 2018-7-21 10:42:11 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Textbook]') AND name = N'pk_Textbook')
ALTER TABLE [dbo].[Textbook] ADD  CONSTRAINT [pk_Textbook] PRIMARY KEY NONCLUSTERED 
(
	[TextbookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__Textbook__Textbo__53ED4AC6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Textbook] ADD  CONSTRAINT [DF__Textbook__Textbo__53ED4AC6]  DEFAULT ('无') FOR [TextbookName]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[ck_Textbook_IsSelfCompile]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Textbook] ADD  CONSTRAINT [ck_Textbook_IsSelfCompile]  DEFAULT ('0') FOR [IsSelfCompile]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Department_School]') AND parent_object_id = OBJECT_ID(N'[dbo].[Department]'))
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_School] FOREIGN KEY([SchoolID])
REFERENCES [dbo].[School] ([SchoolID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Department_School]') AND parent_object_id = OBJECT_ID(N'[dbo].[Department]'))
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_School]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_ProfessionalClass_School]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalClass]'))
ALTER TABLE [dbo].[ProfessionalClass]  WITH NOCHECK ADD  CONSTRAINT [fk_ProfessionalClass_School] FOREIGN KEY([SchoolID])
REFERENCES [dbo].[School] ([SchoolID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_ProfessionalClass_School]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProfessionalClass]'))
ALTER TABLE [dbo].[ProfessionalClass] CHECK CONSTRAINT [fk_ProfessionalClass_School]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_Student_ProfessionalClass]') AND parent_object_id = OBJECT_ID(N'[dbo].[Student]'))
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD  CONSTRAINT [fk_Student_ProfessionalClass] FOREIGN KEY([ClassID])
REFERENCES [dbo].[ProfessionalClass] ([ClassID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_Student_ProfessionalClass]') AND parent_object_id = OBJECT_ID(N'[dbo].[Student]'))
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [fk_Student_ProfessionalClass]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_TeacherDepartment_Department]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]'))
ALTER TABLE [dbo].[TeacherDepartment]  WITH NOCHECK ADD  CONSTRAINT [fk_TeacherDepartment_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_TeacherDepartment_Department]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]'))
ALTER TABLE [dbo].[TeacherDepartment] CHECK CONSTRAINT [fk_TeacherDepartment_Department]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_TeacherDepartment_Teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]'))
ALTER TABLE [dbo].[TeacherDepartment]  WITH NOCHECK ADD  CONSTRAINT [fk_TeacherDepartment_Teacher] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[fk_TeacherDepartment_Teacher]') AND parent_object_id = OBJECT_ID(N'[dbo].[TeacherDepartment]'))
ALTER TABLE [dbo].[TeacherDepartment] CHECK CONSTRAINT [fk_TeacherDepartment_Teacher]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[ck_IsSelfCompile_Textbook]') AND parent_object_id = OBJECT_ID(N'[dbo].[Textbook]'))
ALTER TABLE [dbo].[Textbook]  WITH CHECK ADD  CONSTRAINT [ck_IsSelfCompile_Textbook] CHECK  (([IsSelfCompile]='1' OR [IsSelfCompile]='0'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[ck_IsSelfCompile_Textbook]') AND parent_object_id = OBJECT_ID(N'[dbo].[Textbook]'))
ALTER TABLE [dbo].[Textbook] CHECK CONSTRAINT [ck_IsSelfCompile_Textbook]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[ck_Page_Textbook]') AND parent_object_id = OBJECT_ID(N'[dbo].[Textbook]'))
ALTER TABLE [dbo].[Textbook]  WITH CHECK ADD  CONSTRAINT [ck_Page_Textbook] CHECK  (([Page] IS NULL OR [Page]>=(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[ck_Page_Textbook]') AND parent_object_id = OBJECT_ID(N'[dbo].[Textbook]'))
ALTER TABLE [dbo].[Textbook] CHECK CONSTRAINT [ck_Page_Textbook]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Teacher', N'COLUMN',N'TeacherNumID'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'根据教师编号数字，格式化为6位标准编号，不足位在左侧用0填充' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teacher', @level2type=N'COLUMN',@level2name=N'TeacherNumID'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Teacher', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'教师信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Teacher'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TeacherDepartment', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'处理教师与系教研室之间的1对多关系，即一名教师归属多个部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TeacherDepartment'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Textbook', N'COLUMN',N'TextbookNum'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'格式化后的教材编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Textbook', @level2type=N'COLUMN',@level2name=N'TextbookNum'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'Textbook', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'教材的信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Textbook'
GO



