<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.3.0" newVersion="5.5.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="test" connectionString="Data Source=210.43.126.50;Initial Catalog=GWE;User ID=SYXK;Password=SYK20090225V" providerName="System.Data.SqlClient"/>
    <!--<add name="USCTAMisConnectionString" connectionString="Data Source=210.43.118.193\sql2008r2,4134;Initial Catalog=NHU_JWDB;User ID=tbmis;Password=0000" providerName="System.Data.SqlClient"/>-->
    <!--<add name="USCTAMisConnectionString" connectionString="Data Source=210.43.126.50;Initial Catalog=Tbmis;User ID=tbmis;Password=0000" providerName="System.Data.SqlClient" />-->
    <!--<add name="USCTAMisConnectionString" connectionString="Data Source=.;Initial Catalog=nhu_jwdb;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>